<div class="mt-32 flex gap-6">
  <div class="w-3/4">
    <mat-stepper
      (selectionChange)="onStepChange($event)"
      #stepper
      class="border border-gray-200 bg-white shadow-sm"
    >
      <mat-step label="Address">
        <div id="address-element"></div>
        <div class="mt-1 flex justify-end">
          <mat-checkbox
            [checked]="saveAddress"
            (change)="onSaveAddressCheckboxChange($event)"
          >
            Save as default address
          </mat-checkbox>
        </div>

        <div class="mt-6 flex justify-between">
          <button class="z-0" routerLink="/shop" mat-stroked-button>
            Continue shopping
          </button>
          <button
            [disabled]="!completionStatus().address"
            class="z-0"
            matStepperNext
            mat-flat-button
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step label="Shipping">
        <app-checkout-delivery
          (deliveryComplete)="handleDeliveryChange($event)"
        ></app-checkout-delivery>
        <div class="mt-6 flex justify-between">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button
            [disabled]="!completionStatus().delivery"
            matStepperNext
            mat-flat-button
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step label="Payment">
        <div id="payment-element"></div>
        <div class="mt-6 flex justify-between">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button
            [disabled]="!completionStatus().card"
            matStepperNext
            mat-flat-button
          >
            Next
          </button>
        </div>
      </mat-step>
      <mat-step label="Confirmation">
        <app-checkout-review [confirmationToken]="confirmationToken">
        </app-checkout-review>
        <div class="mt-6 flex justify-between">
          <button matStepperPrevious mat-stroked-button>Back</button>
          <button mat-flat-button (click)="confirmPayment(stepper)">
            Pay {{ cartService.totals()?.total | currency }}
          </button>
        </div>
      </mat-step>
    </mat-stepper>
    <pre>{{ completionStatus() | json }}</pre>
  </div>
  <div class="w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
