<mat-card class="mx-auto mt-32 max-w-lg bg-white p-8">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="mb-6 text-center">
      <h1 class="text-primary text-3xl font-semibold">Register</h1>
    </div>

    <app-text-input label="First Name" formControlName="firstName" />
    <app-text-input label="Last Name" formControlName="lastName" />
    <app-text-input label="Email address" formControlName="email" />
    <app-text-input label="Password" formControlName="password" />

    @if (validationErrors) {
      <div class="mb-3 bg-red-100 p-4 text-red-600">
        <ul class="list-disc px-3">
          @for (error of validationErrors; track $index) {
            <li>{{ error }}</li>
          }
        </ul>
      </div>
    }

    <button
      mat-flat-button
      type="submit"
      class="w-full py-2"
      [disabled]="registerForm.invalid"
    >
      Register
    </button>
  </form>
</mat-card>
