<mat-card class="mx-auto mt-32 max-w-lg bg-white p-8">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-6 text-center">
      <h1 class="text-primary text-3xl font-semibold">Login</h1>
    </div>

    <mat-form-field appearance="outline" class="mb-4 w-full">
      <mat-label>Email address</mat-label>
      <input
        type="email"
        formControlName="email"
        placeholder="name@example.com"
        matInput
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mb-4 w-full">
      <mat-label>Password</mat-label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
        matInput
      />
    </mat-form-field>

    <button mat-flat-button type="submit" class="w-full py-2">Sign in</button>
  </form>
</mat-card>
